<div id="image-hack"></div>
  <div id="background-border" class="size-collapsed"></div>
  <div id="ad-root-wrapper" class="wrapper-collapsed">
    <div id="adRoot" class="size-collapsed">
      
      <!-- @if template='DCM' --><a onclick="javascript:window.open(window.clickTag)"><!-- @endif -->
      <!-- @if template='AdWords' --><a onclick="javascript:window.open(window.clickTag)"><!-- @endif -->
      
    <!-- @if isStandard=true -->
    <!-- @include ../standard.html -->
    
    <!-- @endif -->
    <!-- @if template='DCM' --></a><!-- @endif -->
    <!-- @if template='AdWords' --></a><!-- @endif -->
    
    </div>
  </div>
  <div id="preloader-lib">
    <div class="collapsedPreloader"></div>
    <div class="expandedPreloader"></div>
  </div>
