

  .content {
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
    @extend .size-collapsed;
    opacity: 0;
    background-color: blue;
  
    width: $collapsed-width;
    height: $collapsed-height;
    img {
      position: absolute;
    }

    .catch-all {
      @extend .size-collapsed;
      @extend .catch-all;
    }

    // .cta is the interactive hit area of the CTA button
    .cta {
      @extend .basic-button;
      width: 83px;
      height: 25px;
      left: 23px;
      top: 135px;
      background-color: rgba(200,0,200,0);

    }
	
	
	#snowflake01 {
	  @include sprite-retina ($standard-foreground-map, 'snowflake01');
	  position: absolute;
	  top: 24px;
	  left: 206px;
	}
	#snowflake02 {
	  @include sprite-retina ($standard-foreground-map, 'snowflake02');
	  position: absolute;
	  top: 125px;
	  left: 98px;
	}
	#snowflake03 {
	  @include sprite-retina ($standard-foreground-map, 'snowflake03');
	  position: absolute;
	  top: 199px;
	  left: 253px;
	}
	
	#phone01_container {
	  position: absolute;
	  left: 127px;
	  top: 65px;
	  width: 85px;
	  height: 175px;
	}
	
	#phone01_flat {
	  @include sprite-retina ($standard-foreground-map, 'phone01_flat');
	  position: absolute;
	}
	
	#phone01_mask {
	  position: absolute;
	  left: 3px;
	  top: 0px;
	  width: 73px;
	  height: 157px;
	  border-radius: 10px;
	  overflow: hidden;
	}
	
	#phone01_shine {
	  position: absolute;
	  background-color: white;
	  left: 3px;
	  top: 0px;
	  width: 250px;
	  height: 268px;
	}
	
	#phone01_edge {
	  @include sprite-retina ($standard-foreground-map, 'phone01_flat');
	  position: absolute;
	}
	
	
	#phone02_container {
	  position: absolute;
	  left: 208px;
	  top: 86px;
	  width: 74px;
	  height: 154px;
	}
	
	#phone02_flat {
	  @include sprite-retina ($standard-foreground-map, 'phone02_flat');
	  position: absolute;
	}
	
	#phone02_mask {
	  position: absolute;
	  left: 3px;
	  top: 0px;
	  width: 100px;
	  height: 208px;
	  border-radius: 10px;
	  overflow: hidden;
	}
	
	#phone02_shine {
	  position: absolute;
	  background-color: white;
	  left: 3px;
	  top: 0px;
	  width: 250px;
	  height: 268px;
	}
	
	#phone02_edge {
	  @include sprite-retina ($standard-foreground-map, 'phone02_flat');
	  position: absolute;
	}
	

	#bg {
	  background-color: white;
	  position: absolute;
	}

  }
